h1 {
  font-size: 1.75rem;
}
form {
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 6px 2px var(--shadow-color);
}
label {
  user-select: none;
}
label p {
  text-align: start;
  font-weight: 600;
}

label input,
label textarea {
  background-color: var(--primary-color);
  box-shadow: 0px 3px 6px 2px var(--shadow-color);
  border: none;
  resize: none;
  outline: none;
  padding: 8px;

  max-height: 40vh;
}

.title-label {
  font-size: 1.5rem;
}

button[type="submit"] {
  background-color: var(--primary-color);
  box-shadow: 0px 3px 6px 2px var(--shadow-color);
  border: none;
}
