<%- include("include/head.ejs") %>
<link rel="stylesheet" href="/css/views css/create.css">
  </head>
  <body>
    <%- include("include/navigation") %>
    <main class="col-11 mt-2 d-flex flex-column align-items-center">
      <h1 class="col-12">Create Blog</h1>
      <form class="col-12 d-flex flex-column justify-content-center align-items-center" action="/create" method="post">  
        <label class="title-label mb-2 d-flex flex-column justify-content-center col-11 mt-2">
        <p class="m-0 col-12">Blog Title:</p>
        <input class="col-12" type="text" name="blog-title" placeholder="Write your title here..." required>
        </label>
        
        <label class="description-label mb-2 d-flex flex-column justify-content-center col-11 mt-2"> 
        <p class="m-0 col-12">Description:</p>
        <textarea name="blog-title" placeholder="Write something about your blog..." required></textarea>
        </label>
        
        <button class="mb-2 px-4 py-1" type="submit">Post</button>
      </form>
    </main>
  </body>
</html>
