<%- include("include/head.ejs") %>
<link rel="stylesheet" href="/css/views css/home.css">  
</head>
  <body>
    <%- include("include/navigation") %>
    <main class="col-11 mt-2 d-flex flex-column align-items-center">
      <h1 class="col-12">Your Blogs</h1>
      <div class="blogs-container d-flex flex-column align-items-center">
        <div class="blog-content col-11 p-2">
          <h2>Blog Title</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat voluptatibus earum natus vitae ullam voluptatem necessitatibus, nostrum culpa pariatur? Odio saepe ullam itaque ipsum dicta laudantium porro modi accusantium voluptas!... <a href="/">read more</a> </p>
        </div>
      </div>
    </main>
    
  </body>
</html>
