<nav class="d-flex justify-content-between align-items-center">
    <div class="nav-left-side mx-2">
      <a class="d-flex justify-content-center align-items-center px-2" href="/">
        <img
          src="https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
          alt="" />
        <p class="ms-1 m-0">PenBlog</p>
      </a>
    </div>
    <div class="nav-right-side d-flex justify-content-center align-items-center me-3">
      <a class="mx-1 px-2 center-content <%= path === "/" ? "active-anchor" : null %>" href="/">Home</a>
      <a class="mx-1 px-2 center-content <%= path === "/create" ? "active-anchor" : null %>" href="/create">Create</a>
      <a class="mx-1 px-2 center-content <%= path === "/contact" ? "active-anchor" : null %>" href="/contact">Contact Us</a>
    </div>
</nav>