nav {
  position: sticky;
  top: 0;
  inset-inline: 0;
  height: 55px;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  z-index: 100;
}
.nav-left-side,
.nav-right-side {
  height: 100%;
}
.nav-left-side a,
.nav-right-side a {
  user-select: none;
  height: 100%;
  text-decoration: none;
}
.nav-left-side img {
  width: 36px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: contrast(0);
}
.nav-left-side p {
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.05s;
}

.nav-right-side a {
  color: var(--disabled-font-color);
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.1s;
}

.nav-right-side a:hover {
  color: var(--hover-font-color);
}
