* {
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: var(--font-color);
}
html {
  background-color: var(--background-color);
}
body {
  background-color: transparent !important;
  margin: 0;
}
