:root {
  --font-color: #e6e5e5;
  --disabled-font-color: #9e9e9e;
  --hover-font-color: #bdbdbd;
  --background-color: #151414;
  --primary-color: #343437;
  --primary-hover-color: #2a2a2c;
  --secondary-color: #0e0e0e;
  --shadow-color: #070707;
  --accent-color: #737378;
}

.active-anchor {
  color: var(--font-color) !important;
}

.center-content {
  display: grid;
  place-items: center;
}
